.desktop-menu-container {
  width: 250px;
  height: 100%;
}
.desktop-menu-link {
  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
}
.desktop-menu-link-active {
  background-color: rgba(255, 255, 255, 0.15);
}
